* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

main {
    font-family: 'Montserrat', sans-serif;
    margin-left: auto;
    margin-right: auto;
    background-color: #111927;
    background-image:
            radial-gradient(at 47% 33%, hsl(162.00, 77%, 40%) 0, transparent 59%),
            radial-gradient(at 82% 65%, hsl(218.00, 39%, 11%) 0, transparent 55%);
}

div {
    margin: 15px;
}

a {
    text-decoration: white;
}

h2 {
    text-align: left;
    text-shadow: 0 0 1px rgba(0, 0, 0, .5);
}

h2:hover {
    opacity: 0.6;
    transition: 0.3s;
}

.centro {
    text-align: center;
}

.nav {
    margin: auto 1px auto 70px;
    text-decoration: none;
    color: #fff;
}