body {
    font-family: 'Montserrat', sans-serif;
    width: calc(100% - 500px);
    color: #fff;
    margin-left: auto;
    margin-right: auto;
}

h2 {
    text-align: left;
    text-shadow: 0 0 1px rgba(0, 0, 0, .5);
}

h2:hover {
    opacity: 0.6;
    transition: 0.3s;
}

div {
    margin: 15px;
}

.centro {
    text-align: center;
}

.nav {
    margin: auto 1px auto 70px;
    text-decoration: none;
    color: #fff;
}

.card-special {
    display: inline-block;
    background-color: #fff;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.linguagens {
    padding: 15px;
    height: 30px;
    width: 40px;
}