*{
    color: #f6f4e6;
    font-family: montserrat, Arial, Helvetica;
}

body {
    background: linear-gradient(70deg, #383838, #1F1F1F);
}

main {
    text-align: center;
}

h2 {
    color: #FAC345;
}