/* Estilos padrão para .card e .img */
.handlerCardHab-exclusive .card {
    padding: 0.6em;
    margin: 0.6em;
    background-color: #F8FBFE;
    border-radius: 8px;
    z-index: 1;
}

.handlerCardHab-exclusive img {
    max-width: 60px; /* Define um tamanho máximo padrão */
    height: auto;
    display: block;
    margin: 0 auto;
}
