.contact-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.contact-item {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
    font-size: 1.8rem;
    color: var(--text-color);
    text-decoration: none;
    box-shadow: 0px 4px 10px rgba(255, 255, 255, 0.1);
}

.contact-item:hover {
    transform: scale(1.15);
}

/*.contact-item:nth-child():hover { background: #6441a5; }  !* Twitch *!*/
.contact-item:nth-child(1):hover { background: #D44638; }  /* Gmail */
.contact-item:nth-child(2):hover { background: #0077B5; }  /* LinkedIn */
.contact-item:nth-child(3):hover { background: #333; }      /* GitHub */
.contact-item:nth-child(4):hover { background: #5865F2; }   /* Discord */

@media (max-width: 768px) {
    .contact-container {
        flex-wrap: wrap;
        gap: 15px;
    }

    .contact-item {
        width: 50px;
        height: 50px;
        font-size: 1.5rem;
    }
}
