<footer class="py-2 my-4">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
        <li class="nav-item"><a href="#principal" class="nav-link px-2 text-muted">Principal</a></li>
        <li class="nav-item"><a href="#habilidades" class="nav-link px-2 text-muted">Habilidades</a></li>
        <li class="nav-item"><a href="#projetos" class="nav-link px-2 text-muted">Projetos</a></li>
        <li class="nav-item"><a href="#experiencias" class="nav-link px-2 text-muted">Experiências</a></li>
        <li class="nav-item"><a href="#contatos" class="nav-link px-2 text-muted">Contatos</a></li>
    </ul>
    <p class="text-center text-muted">© 2022 Lucas Ferreira</p>
</footer>